.header-app {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  flex-wrap: nowrap;
  padding: 0 10px 0 10px;
  background-color: var(--theme-primary-color);
  color: var(--theme-secondary-color);
  position: sticky;
  top: 0px;
  box-shadow: 0 -6px 10px 5px rgba(0, 0, 0, 0.5);
}

.header-userdata {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-userdata h2 {
  margin-right: 20px;
}
