.container > div {
  padding: 10px;
}

.container {
  display: grid;
  margin: 10px;
  border-radius: 5px;
  letter-spacing: 2px;
  grid-template-areas:
    'nav header'
    'nav content';
  grid-template-columns: 0.7fr 3fr;
  grid-auto-rows: 1fr 4fr;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 10vh;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  grid-area: header;
  max-height: 10vh;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  overflow: hidden;
  overflow-y: scroll;
  height: 50vh;
  grid-area: content;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
  grid-area: nav;
  border-right: 20px solid var(--theme-primary-color);
  background: linear-gradient(90deg, var(--theme-primary-color), var(--theme-body-bg) 80%);
}

.add-button {
  position: relative;
  color: var(--theme-secondary-color);
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 2.5px;
  font-weight: 500;
  padding: 0.5rem 2rem;
  margin: 30px;
  background-color: var(--theme-body-bg);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  border: none;
  outline: none;
  text-decoration: none;
  border-radius: 45px;
  transition: all 0.3s ease 0s;
}

.add-button:hover,
.nav-link:hover {
  background-color: var(--theme-primary-color);
  color: var(--theme-body-bg);
  box-shadow: 0px 15px 20px rgba(14, 31, 29, 0.4);
  transform: translateY(-7px);
}

.nav-link {
  display: inline-block;
  height: 100px;
  line-height: 100px;
  width: 100px;
  text-align: center;
  background-color: var(--theme-body-bg);
  border-radius: 50%;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  color: var(--theme-secondary-color);
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 2.5px;
  transition: all 0.3s ease 0s;
}
