.App {
  text-align: center;
}

.App-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

input {
  padding: 1rem 2rem;
  margin: 2vh;
}
